section.about {
    max-width: 800px;
    h4 {
        text-transform: uppercase;
    }
    p {
        margin-bottom: 22px;
    }
    ol {
        margin-bottom: 22px;
        font-weight: normal;
    }    
}