.comments-container {
	padding-top: 20px;
	div:first-child {
		padding-left: 0
	}
}
.comment-container {

	&.sub-comment {
		padding-left: 25px;
	}

	.comment-header {
		display: flex;
		:last-of-type  {
			color: dodgerblue;
		}
		p {
			font-size: .9rem;
			margin-right: .5rem;
		}
		button {
			margin-right: .2rem;
			padding: 0;
			cursor: pointer;
			background-color: transparent;
			font-size: 1.1rem;
				border: 0;
				&:focus {
					outline:0;
				}
			}
	}
	.comment-body {
		padding-bottom: 10px;
		font-size: 1rem;
		p {
			margin-left: 1.5rem;
		}
	}
}