/* Distribute index.js */
.distribute-header-main {
  padding: 0.3rem 0.25rem;
  margin-bottom: 0.5rem;
}
.distribute-header {
  font-size: 1.3rem;
  padding: 0.3rem 0.25rem;
  @media (max-width: 450px) {
    font-size: 1.1rem;
    padding: 0.5rem 0.25rem;
  }

  &:last-child {
    padding: 1.25rem 0.25rem;
    @media (max-width: 450px) {
      font-size: 1rem;
    }
  }
}
/* DistributeCard.js */
.card-container {
  padding: 0.625rem 1rem;
  margin-bottom: 20px;
  border: 1px solid black;
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 1rem;
  .location {
    display: flex;
  }

  @media (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.card-body {
  font-size: 1.1rem;
  font-style: italic;
  padding-bottom: 1rem;
  @media (max-width: 450px) {
    font-size: 1rem;
  }
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    padding-right: 20px;
  }
  #footer-right {
    display: flex;

    button {
      cursor: pointer;
      margin-left: 15px;
      background-color: transparent;
      color: red;
      text-decoration: underline;
      border: 0;

      &:disabled {
        opacity: 0.75;
        cursor: auto;
      }
    }
  }
}

.contributed-container {
  display: flex;

  p {
    font-size: 1.1rem;
    @media (max-width: 450px) {
      font-size: 1rem;
    }
  }
}

.ReactModalPortal {
  p {
    padding-bottom: 1rem;
  }
  .share-options {
    .network {  
      vertical-align: top;
      display: inline-block;
      margin-right: 10px;
      text-align: center;
      .share-button {
        cursor: pointer;
        &:hover:not(:active) {
          opacity: 0.75;
        }
      }
    }
  }

  .btn {
    padding: 2px 10px;
    border: 2px solid black;
    background: white;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s ease-in-out;
    cursor: pointer;

    &:disabled {
      border: 2px solid silver;
    }

    &:hover:enabled {
      background: black;
      color: white;
    }
  }

  .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: grey;
    background: none;
    border: none;
    font-size: 1rem;
  }
}
