.resources-header {
	background-color: gray;
	#leveler-icon {
		position: relative;
		top: 5px;
	}
	ul {
		padding: 5px 10px;
		list-style: none;
	}
	li {
		display: inline-flex;
		margin: 0 15px;
		font-size: 1.1rem;
		color: white;
		cursor: pointer;
	}
}

.resources-body {
	background-color: lightgrey;
	font-size: 1.2rem;
}

.resources-item {
	&-container {
		display: flex;
		align-items: baseline;
		padding: 5px 10px;
		border-bottom: 1px solid darkgray;
		&:last-child {
			border-bottom: 0;
		}
		& > div {
			margin-right: 8px;
			align-items: baseline;
		}

		.resources-item-votes {
			button {
				cursor: pointer;
				background-color: transparent;
				font-size: 1.1rem;
					border: 0;
					&:focus {
						outline:0;
					}
				}
			p {
				font-size: 1rem;
				&:last-child {
					text-align: center;
					margin-left: -3px;
				}
			}
		}
		
		
		.resources-item-title {
			display: block;
			width:100%;
			a {
				font-size: 1.1rem;
				color: black;
			}
			p {
				font-size: 0.8rem;
			}
		}
		.resources-item-footer {
			display: flex;
			align-self: center;
			button {
				position: relative;
				top: -25px;
				border: 1px solid black;
				background-color: transparent;
				align-self: center;
				margin-left: auto;
			}
		}
	}
}

@media (max-width: 480px) {
	.resources-body {
		font-size: 1rem;
	}
	.resources-item {
		&-container {
			.resources-item-votes {
				align-self: center;
				p {
					font-size: 1rem;
				}
			}

			// display: block;
			.resources-item-title {
					display: block;
					a {
						font-size: 1rem;
					}
					p {
						margin-left: 0;
					}
					.resources-item-footer {
						display: block;
						button {
							position: relative;
							top: 0;
							margin-left: 0;
						}
					}
				}		
			}
	}
}