body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  line-height: 1.3em;
  font-size: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
html {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 15px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header img {
  margin-left: -12px;
}

header img {
  max-width: 300px;
  width: 100%;
}

header .top {
  margin: 5px 0 20px 0;
}

section h3 {
  margin: 20px 0;
}

section ol {
  padding-left: 22px;
  font-weight: bold;
}

section div button {
  padding: 4px 14px;
  border: 2px solid black;
  background: white;
  outline: none;
  font-size: 25px;
  margin: 20px 0;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

section div button:hover {
  background: black;
  color: white;
}

footer {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

footer a {
  color: blue;
}

/* Distribute index.js */
.distribute-header-main {
  padding: .3rem .25rem;
  margin-bottom: .5rem;
}
.distribute-header {
  font-size: 1.3rem;
  padding: .3rem .25rem;
}
.distribute-header:last-child {
  padding: 1.25rem .25rem;
}
/* DistributeCard.js */
.card-container {
  padding:  .625rem 1rem;
  margin-bottom: 20px;
  border: 1px solid black;
}
.card-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.card-header a {
  color: red;
  text-decoration: underline;
}

.card-body {
  font-size: 1.1rem;
  font-style: italic;
  padding-bottom: 1rem;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-footer a {
  padding-right: 20px;
}

.contributed-container {
  display: flex;
}
.contributed-container p {
  font-size: 1.1rem;
}
/* Customize the label (the container) */
#checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: bold;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#checkbox-container#text {
  margin-right: 100px;
}

/* Hide the browser's default checkbox */
#checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
#custom-checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 25px;
  width: 25px;
  border: 1px solid black;
  /* background-color: #eee; */
}

/* On mouse-over, add a grey background color */
#checkbox-container:hover input ~ #custom-checkmark {
  background-color: #ccc;
  border: 0;
}

/* When the checkbox is checked, add a blue background */
#checkbox-container input:checked ~ #custom-checkmark {
  background-color: #2196F3;
  border: 0;
}

/* Create the checkmark/indicator (hidden when not checked) */
#custom-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#checkbox-container input:checked ~ #custom-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
#checkbox-container #custom-checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

@media (max-width: 690px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer div {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .wrapper {
    padding: 20px;
  }

  section h3 {
    font-size: 22px;
  }

  section ol {
    font-size: 20px;
  }

  footer {
    max-width: 250px;
    display: block;
  }

  footer div {
    width: 100%;
    line-height: 1.6em;
    text-align: left;
  }
  /* Distribute index.js */
  .distribute-header {
    font-size: 1.1rem;
    padding: .5rem .25rem;
  }

  .distribute-header:last-child {
    padding: 1.25rem .25rem;
  }

  /* DistributeCard.js */
  .card-header {
    font-size: .9rem;
  }
  .card-body {
    font-size: 1rem;
  }

  /* Contributed Checkbox */
  .contributed-container p {
    font-size: 1rem;
  }
}
