body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  line-height: 1.3em;
  font-size: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
html {
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  padding: 15px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

header img {
  margin-left: -12px;
}

header img {
  max-width: 300px;
  width: 100%;
}

header .top {
  margin: 5px 0 20px 0;
}

section h3 {
  margin: 20px 0;
}

section ol {
  padding-left: 22px;
  font-weight: bold;
}

.btn {
  padding: 4px 14px;
  border: 2px solid black;
  background: white;
  outline: none;
  font-size: 25px;
  margin: 20px 0;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: black;
  color: white;
}

footer {
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

footer a {
  color: blue;
}

form input {
  display: block;
  width: 100%;
}

form label {
  font-size: 18px;
  display: block;
}

@media (max-width: 690px) {
  footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  footer div {
    width: 50%;
    text-align: center;
  }
}

@media (max-width: 450px) {
  .wrapper {
    padding: 20px;
  }

  section h3 {
    font-size: 22px;
  }

  section ol {
    font-size: 20px;
  }

  footer {
    max-width: 250px;
    display: block;
  }

  footer div {
    width: 100%;
    line-height: 1.6em;
    text-align: left;
  }
}
